[Unit]
Description=ydotoold - Generic Linux command-line automation tool daemon
Documentation=https://github.com/ReimuNotMoe/ydotool
After=basic.target systemd-logind.service user-runtime-dir@1000.service
Requires=systemd-logind.service
Wants=user-runtime-dir@1000.service

[Service]
Type=simple
User=root
ExecStartPre=/usr/bin/install -d -m 700 -o 1000 -g 1000 /run/user/1000
ExecStart=/usr/bin/ydotoold --socket-path=/run/user/1000/.ydotool_socket --socket-own=1000:1000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
